
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-2-Uco {
  box-sizing: border-box;
  padding: 6.7rem 5.5rem 13.9rem 5.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
  align-items: center;

  .auto-group-kyo5-ndV {
    border-radius: 4rem;
    width: 54.3rem;
    white-space: nowrap;
    justify-content: center;
    font-size: 7rem;
    align-items: center;
    flex-shrink: 0;
    font-weight: 400;
    font-family: Jockey One, 'Source Sans Pro';
    display: flex;
    color: rgba(255, 255, 255, 0.9300000072);
    background-color: rgba(178, 121, 60, 0.9900000095);
    margin: 0rem 78.7rem 3.4rem 0rem;
    height: 11.4rem;
    line-height: 1.4;
  }
  .auto-group-bjgt-1FM {
    width: calc(100% - 84.8rem);
    height: 8.4rem;
    font-size: 6.4rem;
    font-weight: 400;
    line-height: 1.3025;
    display: flex;
    margin: 0rem 47.4rem 10.3rem 37.4rem;
    color: rgba(118, 73, 25, 0.9900000095);
    font-family: Inika, 'Source Sans Pro';
    border-bottom: solid 0.1rem #000000;
    box-sizing: border-box;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  .auto-group-zh35-sHZ {
    margin: 0rem 18.9rem 4.5rem 6.7rem;
    width: calc(100% - 25.6rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-fdsx-PFu {
      margin: 0rem 12.2rem 0.5rem 0rem;
      line-height: 1.3025;
      background-color: rgba(195, 136, 74, 0.9900000095);
      flex-shrink: 0;
      height: 8.3rem;
      font-size: 4rem;
      white-space: nowrap;
      display: flex;
      border-radius: 4rem;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.6100000143);
      font-family: Inika, 'Source Sans Pro';
      align-items: center;
      width: 47.6rem;
      justify-content: center;
      filter: blur(0.2rem);
    }
    .auto-group-dbef-p6K {
      font-size: 4rem;
      display: flex;
      border-radius: 4rem;
      width: 47.6rem;
      font-weight: 400;
      line-height: 1.3025;
      font-family: Inika, 'Source Sans Pro';
      align-items: center;
      background-color: rgba(195, 136, 74, 0.9900000095);
      height: 8.3rem;
      white-space: nowrap;
      filter: blur(0.2rem);
      margin-top: 0.5rem;
      justify-content: center;
      flex-shrink: 0;
      color: rgba(255, 255, 255, 0.5899999738);
    }
  }
  .auto-group-x8jb-s4b {
    white-space: nowrap;
    border-radius: 4rem;
    margin: 0rem 16.2rem 2.8rem 6.7rem;
    padding: 2.1rem 12.7rem;
    width: calc(100% - 22.9rem);
    line-height: 1.3025;
    color: rgba(255, 255, 255, 0.6100000143);
    font-family: Inika, 'Source Sans Pro';
    background-color: rgba(195, 137, 75, 0.8500000238);
    flex-shrink: 0;
    box-sizing: border-box;
    font-size: 4rem;
    font-weight: 400;
  }
  .auto-group-f5zx-hZR {
    padding: 2.2rem 13rem 2rem 13rem;
    line-height: 1.3025;
    font-family: Inika, 'Source Sans Pro';
    background-color: rgba(195, 137, 75, 0.8500000238);
    border-radius: 4rem;
    color: rgba(255, 255, 255, 0.6100000143);
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 16.2rem 5rem 6.7rem;
    box-sizing: border-box;
    width: calc(100% - 22.9rem);
    font-size: 4rem;
    font-weight: 400;
  }
  .auto-group-eexq-ijR {
    line-height: 1.3025;
    font-family: Inika, 'Source Sans Pro';
    display: flex;
    height: 8.2rem;
    font-weight: 400;
    white-space: nowrap;
    width: calc(100% - 86.8rem);
    font-size: 4rem;
    flex-shrink: 0;
    margin: 0rem 45rem 0rem 41.8rem;
    color: #000000;
    align-items: center;
    justify-content: center;
    background-color: rgba(178, 121, 60, 0.9900000095);
    border-radius: 5rem;
  }
}
