
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 141.7rem;
}.desktop-12-Rew {
  box-sizing: border-box;
  padding-top: 2.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-difr-MoV {
    margin: 0rem 34.2rem 3.85rem 2.3rem;
    width: calc(100% - 36.5rem);
    height: 11.4rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-kez5-4hu {
      white-space: nowrap;
      font-size: 7rem;
      font-family: Jockey One, 'Source Sans Pro';
      display: flex;
      border-radius: 4rem;
      width: 54.3rem;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.9300000072);
      height: 100%;
      line-height: 1.4;
      justify-content: center;
      background-color: rgba(178, 121, 60, 0.9900000095);
      flex-shrink: 0;
      margin-right: 24.9rem;
      align-items: center;
    }
    .checkout-iXZ {
      flex-shrink: 0;
      margin-top: 0.2rem;
      font-size: 6.4rem;
      font-weight: 400;
      line-height: 1.28;
      color: #000000;
      font-family: Alatsi, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .line-11-STZ {
    width: 196.4012rem;
    height: 0.2rem;
    background-color: #000000;
    flex-shrink: 0;
  }
  .auto-group-txfv-Bg3 {
    width: 100%;
    height: 325.75rem;
    position: relative;
    flex-shrink: 0;

    .auto-group-raxx-ify {
      left: 13.6rem;
      top: 4.55rem;
      display: flex;
      align-items: flex-start;
      width: 121.5rem;
      height: 28.6rem;
      position: absolute;

      .auto-group-nhnf-SM5 {
        margin-right: 26.4rem;
        width: 30.3rem;
        height: 10.7rem;
        position: relative;
        flex-shrink: 0;

        .all-y67 {
          width: 4.8rem;
          height: 4.7rem;
          left: 8.8rem;
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 1.3025;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          top: 0;
          color: #ffffff;
        }
        .frame-1-5uq {
          left: 15.9rem;
          top: 2.1rem;
          overflow: hidden;
          width: 3rem;
          height: 8.6rem;
          position: absolute;
        }
        .delivery-address-pcX {
          position: absolute;
          top: 3.6rem;
          font-family: Akshar, 'Source Sans Pro';
          white-space: nowrap;
          width: 30.3rem;
          left: 0;
          font-size: 4.8rem;
          font-weight: 400;
          line-height: 1.38;
          color: #000000;
          height: 6.7rem;
        }
      }
      .auto-group-f3bd-jDh {
        margin-top: 0.2rem;
        width: 64.8rem;
        height: 28.4rem;
        position: relative;
        flex-shrink: 0;

        .chair-TfV {
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 3rem;
          color: rgba(255, 255, 255, 0.9300000072);
          position: absolute;
          left: 49.3rem;
          top: 0;
          font-weight: 400;
          line-height: 1.3025;
          width: 9.4rem;
          height: 4rem;
        }
        .sofa-xs9 {
          height: 4rem;
          position: absolute;
          font-size: 3rem;
          color: #ffffff;
          white-space: nowrap;
          width: 7.6rem;
          top: 0.1rem;
          font-weight: 400;
          line-height: 1.3025;
          font-family: Inika, 'Source Sans Pro';
          left: 0.5rem;
        }
        .rohit-dsouza-g-404-godness-residency-banglore-india320067-add-delivery-instructions-5wm {
          font-family: Akshar, 'Source Sans Pro';
          width: 64.8rem;
          height: 26.5rem;
          position: absolute;
          font-size: 4.8rem;
          color: #000000;
          left: 0;
          top: 1.9rem;
          font-weight: 400;
          line-height: 1.38;

          .rohit-dsouza-g-404-godness-residency-banglore-india320067-add-delivery-instructions-5wm-sub-0 {
          }
          .rohit-dsouza-g-404-godness-residency-banglore-india320067-add-delivery-instructions-5wm-sub-1 {
            color: #276bf0;
            font-family: Akshar, 'Source Sans Pro';
            font-size: 4.8rem;
            font-weight: 400;
            line-height: 1.38;
          }
        }
      }
    }
    .line-12-sFM {
      width: 124.7rem;
      height: 0.1rem;
      position: absolute;
      left: 10.8rem;
      top: 33.35rem;
      background-color: rgba(0, 0, 0, 0.6800000072);
    }
    .select-a-payment-method-zas {
      line-height: 1.38;
      color: #c72525;
      white-space: nowrap;
      width: 46.5rem;
      height: 6.7rem;
      font-size: 4.8rem;
      font-weight: 400;
      position: absolute;
      left: 11rem;
      top: 37.85rem;
      font-family: Akshar, 'Source Sans Pro';
    }
    .frame-33-J5m {
      width: 134rem;
      left: 4.5rem;
      border-radius: 2rem;
      height: 133.8rem;
      position: absolute;
      top: 50.05rem;
      border: solid 0.2rem rgba(0, 0, 0, 0.3700000048);
      box-sizing: border-box;
      background-color: #ffffff;

      .auto-group-oh3d-QuV {
        width: 30.4rem;
        height: 4.5rem;
        position: absolute;
        left: 4.3rem;
        top: 64.6rem;
        display: flex;
        align-items: flex-end;

        .ellipse-2-LYF {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 3.1rem;
          width: 4.4rem;
          height: 4.1rem;
        }
        .net-banking-so5 {
          font-size: 4rem;
          font-weight: 700;
          line-height: 1.115;
          color: #000000;
          font-family: Almarai, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .another-payment-method-DM9 {
        height: 4.5rem;
        left: 2rem;
        font-size: 4rem;
        line-height: 1.115;
        color: #000000;
        font-family: Almarai, 'Source Sans Pro';
        width: 47.6rem;
        top: 30.5rem;
        font-weight: 700;
        white-space: nowrap;
        position: absolute;
      }
      .auto-group-w9gb-hn7 {
        width: 108.1rem;
        height: 9.6rem;
        position: absolute;
        left: 18.1rem;
        top: 14.6rem;
        display: flex;
        align-items: center;

        .auto-group-zwqf-Ri7 {
          box-sizing: border-box;
          white-space: nowrap;
          border: solid 0.1rem #000000;
          background-color: #ffffff;
          border-radius: 3rem;
          margin-right: 5.8rem;
          height: 100%;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.5199999809);
          padding: 2.5rem 8.8rem 2.6rem 8.8rem;
          flex-shrink: 0;
          width: 73.1rem;
          font-size: 4rem;
          line-height: 1.115;
          font-family: Almarai, 'Source Sans Pro';
        }
        .auto-group-uum5-TPu {
          margin: 0.8rem 0rem 0.9rem 0rem;
          font-weight: 400;
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          height: calc(100% - 1.7rem);
          font-family: Almarai, 'Source Sans Pro';
          background-color: rgba(255, 255, 255, 0.9300000072);
          border-radius: 3rem;
          width: 29.2rem;
          font-size: 4rem;
          color: #000000;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          line-height: 1.115;
          display: flex;
          flex-shrink: 0;
        }
      }
      .auto-group-ppyq-V5h {
        height: 4.5rem;
        position: absolute;
        left: 4.3rem;
        top: 40.8rem;
        display: flex;
        align-items: flex-start;
        width: 43.3rem;

        .auto-group-xxaf-beX {
          margin-right: 3.1rem;
          width: 4.4rem;
          height: 4.1rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .credit-or-debit-card-jEw {
          font-weight: 700;
          line-height: 1.115;
          color: #000000;
          font-family: Almarai, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 4rem;
        }
      }
      .screenshot-2024-02-18-at-1159-1-TAw {
        top: 49.1rem;
        object-fit: contain;
        vertical-align: top;
        width: 66.9rem;
        height: 7.8rem;
        position: absolute;
        left: 6.5rem;
      }
      .auto-group-p1vr-ZDy {
        width: 36.2rem;
        height: 4.5rem;
        position: absolute;
        left: 4.3rem;
        top: 81.8rem;
        display: flex;
        align-items: flex-end;

        .ellipse-3-5y1 {
          height: 4.1rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 3.1rem;
          width: 4.4rem;
        }
        .auto-group-mykf-EL7 {
          height: 100%;
          position: relative;
          flex-shrink: 0;
          width: 28.7rem;

          .other-upi-apps-aPy {
            left: 0;
            top: 0;
            font-weight: 700;
            font-family: Almarai, 'Source Sans Pro';
            position: absolute;
            height: 4.5rem;
            font-size: 4rem;
            line-height: 1.115;
            color: #000000;
            white-space: nowrap;
            width: 28.7rem;
          }
          .other-upi-apps-ZQK {
            color: #000000;
            font-family: Almarai, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            top: 0;
            font-weight: 700;
            line-height: 1.115;
            width: 28.7rem;
            height: 4.5rem;
            left: 0;
            font-size: 4rem;
          }
        }
      }
      .auto-group-76fy-gE3 {
        display: flex;
        align-items: flex-start;
        width: 82.5rem;
        height: 9rem;
        position: absolute;
        left: 4.3rem;
        top: 99.9rem;

        .ellipse-4-Qfq {
          flex-shrink: 0;
          margin-right: 3.1rem;
          width: 4.4rem;
          height: 4.1rem;
          object-fit: contain;
          vertical-align: top;
        }
        .cash-on-deliverv-pav-on-delivery-cash-upi-and-cards-accepted-know-more-kjh {
          font-family: Almarai, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 75rem;
          font-size: 4rem;
          font-weight: 700;
          line-height: 1.115;
          color: #000000;

          .cash-on-deliverv-pav-on-delivery-cash-upi-and-cards-accepted-know-more-kjh-sub-0 {
          }
          .cash-on-deliverv-pav-on-delivery-cash-upi-and-cards-accepted-know-more-kjh-sub-1 {
            font-size: 4rem;
            font-weight: 400;
            line-height: 1.115;
            color: #000000;
            font-family: Almarai, 'Source Sans Pro';
          }
          .cash-on-deliverv-pav-on-delivery-cash-upi-and-cards-accepted-know-more-kjh-sub-2 {
          }
          .cash-on-deliverv-pav-on-delivery-cash-upi-and-cards-accepted-know-more-kjh-sub-3 {
            color: #276bf0;
            font-family: Almarai, 'Source Sans Pro';
            font-size: 4rem;
            font-weight: 300;
            line-height: 1.115;
          }
          .cash-on-deliverv-pav-on-delivery-cash-upi-and-cards-accepted-know-more-kjh-sub-4 {
          }
        }
      }
      .auto-group-7phm-K43 {
        position: absolute;
        color: #000000;
        justify-content: center;
        border-radius: 3rem;
        border: solid 0.1rem #000000;
        height: 9.6rem;
        font-size: 4rem;
        font-family: Almarai, 'Source Sans Pro';
        white-space: nowrap;
        line-height: 1.115;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        width: 53.1rem;
        left: 4.3rem;
        top: 118.8rem;
        font-weight: 700;
        background-color: #ffb700;
      }
      .your-available-balance-Zj5 {
        width: 26.3rem;
        height: 9rem;
        font-size: 4rem;
        line-height: 1.115;
        font-family: Almarai, 'Source Sans Pro';
        position: absolute;
        left: 2.4607rem;
        top: 4.5rem;
        font-weight: 700;
        color: #000000;
      }
      .line-14-4fq {
        height: 0.1rem;
        position: absolute;
        left: 4.0182rem;
        top: 27.5rem;
        background-color: rgba(0, 0, 0, 0.6800000072);
        width: 113.6863rem;
      }
    }
    .group-40-xFR {
      border-radius: 4rem;
      width: 77.9rem;
      height: 46.5rem;
      position: absolute;
      left: 4.5rem;
      top: 195.85rem;

      .group-39-tPy {
        border-radius: 4rem;
        box-sizing: border-box;
        width: 100%;
        flex-direction: column;
        border: solid 0.1rem #000000;
        background-color: #ffffff;
        padding: 4.9rem 5.3rem 5.2rem 3.2rem;
        height: 100%;
        align-items: center;
        display: flex;

        .order-summary-oWw {
          font-weight: 700;
          line-height: 1.115;
          color: #000000;
          font-family: Almarai, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 17.6rem 3.2rem 0rem;
          font-size: 6.4rem;
        }
        .auto-group-fqwp-7Xd {
          width: calc(100% - 9.2rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 6.9rem 1.6rem 2.3rem;

          .applied-promotion-eGf {
            line-height: 1.115;
            color: #000000;
            font-family: Almarai, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 11.7rem 1rem 0rem;
            font-size: 4.8rem;
            font-weight: 400;
          }
          .item--mMH {
            color: #000000;
            font-family: Almarai, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 1rem;
            font-size: 4.8rem;
            font-weight: 400;
            line-height: 1.115;
          }
        }
        .auto-group-j9my-68f {
          margin: 0rem 6.9rem 1.8rem 2.3rem;
          width: calc(100% - 9.2rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .total-items-RRq {
            margin-right: 26.5rem;
            font-size: 4.8rem;
            font-weight: 400;
            line-height: 1.115;
            color: #000000;
            font-family: Almarai, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item--kyu {
            font-size: 4.8rem;
            font-weight: 400;
            line-height: 1.115;
            color: #000000;
            font-family: Almarai, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-qg5u-VRh {
          width: 100%;
          height: 10.8rem;
          position: relative;
          flex-shrink: 0;

          .order-total--qkT {
            width: 28.2rem;
            position: absolute;
            color: #c72525;
            display: flex;
            align-items: baseline;
            font-family: Almarai, 'Source Sans Pro';
            white-space: nowrap;
            height: 10.8rem;
            left: 2.3rem;
            top: 0;
            font-size: 4.8rem;
            font-weight: 700;
            line-height: 1.115;

            .order-total--qkT-sub-0 {
            }
            .order-total--qkT-sub-1 {
              font-size: 9.6rem;
              font-weight: 700;
              line-height: 1.115;
              color: #c72525;
              font-family: Almarai, 'Source Sans Pro';
            }
            .order-total--qkT-sub-2 {
            }
          }
          .item-10500--dAX {
            width: 16.7rem;
            font-size: 4.8rem;
            white-space: nowrap;
            color: #678a06;
            font-family: Almarai, 'Source Sans Pro';
            height: 5.4rem;
            position: absolute;
            left: 49.4rem;
            top: 4.3rem;
            font-weight: 700;
            line-height: 1.115;
          }
          .line-17-hw5 {
            width: 69.4rem;
            height: 0.1rem;
            position: absolute;
            left: 0;
            top: 0.8rem;
            background-color: rgba(0, 0, 0, 0.3700000048);
          }
        }
      }
    }
    .conditions-of-use-sale-privacy-notice-interest-based-ads-1996-2024-woodmakercom-inc-or-its-affiliates-BbM {
      width: 97.5rem;
      top: 273.95rem;
      font-size: 3.6rem;
      font-weight: 400;
      font-family: Inika, 'Source Sans Pro';
      height: 9.4rem;
      position: absolute;
      left: 23.8rem;
      line-height: 1.3025;
      color: #000000;
    }
  }
}
