
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-hbV {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-right: 3.5rem;
  width: 100%;

  .auto-group-wzmv-H3u {
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:6f6cd28b450e43609d898253b9548b3b9a0b1c4f');
    border-radius: 24.8rem;
    flex-shrink: 0;
    margin-right: 7.3124rem;
    width: 97.6876rem;
    height: 117.8861rem;
    background-position: center;

    .rectangle-2-XcT {
      width: 63.3rem;
      height: 15.6rem;
      position: absolute;
      left: 5.5rem;
      top: 6.7rem;
      background-color: rgba(178, 121, 60, 0.9900000095);
      border-radius: 4rem;
    }
    .woodmaker-yDZ {
      line-height: 1.4;
      width: 45.3rem;
      position: absolute;
      font-size: 9.6rem;
      font-weight: 400;
      font-family: Jockey One, 'Source Sans Pro';
      white-space: nowrap;
      height: 13.5rem;
      left: 14.5rem;
      top: 7.8rem;
      color: rgba(255, 255, 255, 0.9300000072);
    }
  }
  .auto-group-vgzu-jc3 {
    margin-top: 2.6rem;
    width: 57.6rem;
    flex-shrink: 0;

    .auto-group-anas-qf5 {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 0rem 1.8rem 1.3rem 1.8rem;
      width: 100%;

      .auto-group-1m5z-MNX {
        font-family: Inika, 'Source Sans Pro';
        justify-content: center;
        height: 8.4rem;
        color: rgba(118, 73, 25, 0.9900000095);
        white-space: nowrap;
        display: flex;
        box-sizing: border-box;
        flex-shrink: 0;
        width: calc(100% - 22.4rem);
        font-size: 6.4rem;
        font-weight: 400;
        align-items: center;
        border-bottom: solid 0.1rem #000000;
        margin: 0rem 11.8rem 10.6rem 10.6rem;
        line-height: 1.3025;
      }
      .email-kfZ {
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: rgba(0, 0, 0, 0.2700000107);
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .line-2-sVH {
      margin-bottom: 5.4rem;
      width: 100%;
      height: 0.1rem;
      background-color: #000000;
    }
    .password-QEK {
      color: rgba(0, 0, 0, 0.2700000107);
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0rem 1.5rem 1.8rem;
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.3025;
    }
    .line-3-iF1 {
      width: 100%;
      height: 0.1rem;
      background-color: #000000;
      margin-bottom: 2rem;
    }
    .forgot-password-3o5 {
      white-space: nowrap;
      margin-left: 0.8rem;
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.1975;
      color: #284fda;
      font-family: Inria Sans, 'Source Sans Pro';
    }
    .auto-group-thtk-NaT {
      border-bottom: solid 0.1rem #000000;
      box-sizing: border-box;
      padding: 3.8rem 17rem 0.9rem 13.4rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .auto-group-hgyd-HSX {
        font-family: Inika, 'Source Sans Pro';
        display: flex;
        align-items: center;
        width: calc(100% - 10rem);
        justify-content: center;
        flex-shrink: 0;
        height: 7.4rem;
        margin: 0rem 5rem 3.8rem 5rem;
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        white-space: nowrap;
        background-color: rgba(178, 121, 60, 0.9900000095);
        border-radius: 5rem;
      }
      .create-account-Lfh {
        cursor: pointer;
        font-family: Inika, 'Source Sans Pro';
        line-height: 1.3025;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.8rem;
        font-size: 4rem;
        font-weight: 400;
      }
    }
  }
}
