
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.frame-37-eEb {
  width: 100%;
  height: 204.8rem;

  .group-34-bQj {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .desktop-8-YKy {
      overflow: hidden;
      align-items: center;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 7.9rem 6.756rem 8.85rem 10.6rem;
      width: 100%;
      position: relative;
      display: flex;
      background-color: #ffffff;

      .line-7-eto {
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
        margin: 0rem 3.844rem 9.7rem 0rem;
        width: 122.7999rem;
      }
      .auto-group-ij6t-NZu {
        margin: 0rem 0rem 3.667rem 0rem;
        width: calc(100% - 0rem);
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .sofa-1-2-hMH {
          border-radius: 5rem;
          flex-shrink: 0;
          margin-right: 8.956rem;
          width: 58.844rem;
          height: 44.133rem;
          object-fit: cover;
          vertical-align: top;
        }
        .sofa-4-1-QmV {
          margin-bottom: 0.0422rem;
          width: 58.844rem;
          height: 41.1908rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 5rem;
          flex-shrink: 0;
        }
      }
      .auto-group-ef1h-8xP {
        margin: 0rem 2.444rem 3.85rem 1.4rem;
        width: calc(100% - 3.844rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .vonanda-faux-leather-sofa-couchelegant-cognac-tan-12000--rtP {
          font-size: 3.5rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 25.3rem 1.3rem 0rem;
          max-width: 44.3rem;

          .vonanda-faux-leather-sofa-couchelegant-cognac-tan-12000--rtP-sub-0 {
          }
          .vonanda-faux-leather-sofa-couchelegant-cognac-tan-12000--rtP-sub-1 {
            font-size: 3.5rem;
            font-weight: 700;
            line-height: 1.3025;
            color: #000000;
            font-family: Inika, 'Source Sans Pro';
          }
        }
        .the-briston-premium-couch-with-suede-upholstery-is-a-luxurious-addition-to-any-living-room-25000--MTm {
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          flex-shrink: 0;
          margin-top: 1.3rem;
          max-width: 53.2rem;
          font-size: 3.5rem;

          .the-briston-premium-couch-with-suede-upholstery-is-a-luxurious-addition-to-any-living-room-25000--MTm-sub-0 {
          }
          .the-briston-premium-couch-with-suede-upholstery-is-a-luxurious-addition-to-any-living-room-25000--MTm-sub-1 {
            font-family: Inika, 'Source Sans Pro';
            font-size: 3.5rem;
            font-weight: 700;
            line-height: 1.3025;
            color: #000000;
          }
        }
      }
      .line-8-FxT {
        margin-right: 2.644rem;
        width: 124rem;
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
      }
    }
    .desktop-10-PHy {
      overflow: hidden;
      position: relative;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 7.9rem 6.756rem 3.5rem 10.6rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .line-7-iLF {
        margin: 0rem 3.844rem 12.6rem 0rem;
        width: 122.7999rem;
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
      }
      .auto-group-kvrq-2rj {
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 3.7092rem;
        width: 100%;
        display: flex;

        .sofa-4-2-BDq {
          width: 58.844rem;
          height: 41.1908rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 5rem;
          flex-shrink: 0;
          margin-right: 8.956rem;
        }
        .sofa-4-1-VkK {
          height: 41.1908rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 5rem;
          flex-shrink: 0;
          width: 58.844rem;
        }
      }
      .auto-group-pqvh-q3V {
        height: 33.4rem;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 1.544rem 0rem 1.4rem;
        width: calc(100% - 2.9441rem);

        .vonanda-faux-leather-sofa-couchelegant-cognac-tan-12000--kRM {
          width: 39.7rem;
          position: absolute;
          left: 0;
          top: 0;
          font-size: 3.2rem;
          height: 33.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';

          .vonanda-faux-leather-sofa-couchelegant-cognac-tan-12000--kRM-sub-0 {
          }
          .vonanda-faux-leather-sofa-couchelegant-cognac-tan-12000--kRM-sub-1 {
            line-height: 1.3025;
            color: #000000;
            font-family: Inika, 'Source Sans Pro';
            font-size: 3.2rem;
            font-weight: 700;
          }
          .vonanda-faux-leather-sofa-couchelegant-cognac-tan-12000--kRM-sub-2 {
          }
        }
        .zeus-3-seater-fabric-premium-sofa-for-living-room-8000--TDH {
          font-size: 3.5rem;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          position: absolute;
          height: 18.3rem;
          left: 69.6rem;
          top: 1.3rem;
          font-weight: 400;
          width: 48.3rem;

          .zeus-3-seater-fabric-premium-sofa-for-living-room-8000--TDH-sub-0 {
          }
          .zeus-3-seater-fabric-premium-sofa-for-living-room-8000--TDH-sub-1 {
            font-size: 3.5rem;
            font-weight: 700;
            line-height: 1.3025;
            color: #000000;
            font-family: Inika, 'Source Sans Pro';
          }
        }
        .line-8-oRZ {
          left: 0.9rem;
          top: 27.5rem;
          background-color: #000000;
          width: 122.7999rem;
          height: 0.1rem;
          position: absolute;
        }
      }
    }
  }
}
