
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.frame-36-jvo {
  width: 100%;
  height: 204.8rem;

  .group-33-hMq {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .desktop-6-qU3 {
      box-sizing: border-box;
      width: 100%;
      position: relative;
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 10rem 4.2rem 9.7rem 8.2rem;
      overflow: hidden;
      background-color: #ffffff;
      flex-shrink: 0;

      .line-6-AFR {
        margin: 0rem 6.4rem 6.9rem 2.4rem;
        width: calc(100% - 8.8001rem);
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
      }
      .auto-group-v3bm-svX {
        flex-shrink: 0;
        margin-bottom: 5.2rem;
        width: 100%;
        display: flex;
        align-items: center;

        .chair-4-1-deo {
          border-radius: 5rem;
          flex-shrink: 0;
          margin-right: 14.5555rem;
          width: 58.8445rem;
          height: 44.6rem;
          cursor: pointer;
          object-fit: cover;
          vertical-align: top;
        }
        .char-2-1-kzK {
          object-fit: cover;
          vertical-align: top;
          border-radius: 5.4rem;
          flex-shrink: 0;
          width: 58.2rem;
          height: 44.6rem;
        }
      }
      .auto-group-ko59-taj {
        flex-shrink: 0;
        margin: 0rem 6.7rem 6.2rem 3rem;
        width: calc(100% - 9.7rem);
        display: flex;
        align-items: center;

        .casa-andrea-milano-mid-century-modern-accent-sherpa-fabric-chair-10000--2B9 {
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 37.7rem;
          max-width: 34.7rem;
          font-size: 3rem;
          font-weight: 400;
        }
        .dewhut-oversized-pumpkin-couch-accent-chair-modern-comfy-velvet-upholstered-barrel-chair-13000--WMD {
          max-width: 49.5rem;
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .line-7-Pfu {
        background-color: #000000;
        flex-shrink: 0;
        margin: 0rem 5.8rem 0rem 3rem;
        width: calc(100% - 8.8001rem);
        height: 0.1rem;
      }
    }
    .desktop-7-6qD {
      box-sizing: border-box;
      padding: 8.7rem 5.856rem 10.4rem 9.2rem;
      background-color: #ffffff;
      flex-shrink: 0;
      width: 100%;
      overflow: hidden;
      position: relative;
      align-items: center;
      display: flex;
      flex-direction: column;

      .line-7-RMh {
        flex-shrink: 0;
        margin: 0rem 6.144rem 8.2rem 0rem;
        width: 122.7999rem;
        height: 0.1rem;
        background-color: #000000;
      }
      .auto-group-kqxd-LUf {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin-bottom: 5.667rem;

        .sofa-4-1-V6f {
          vertical-align: top;
          border-radius: 5rem;
          flex-shrink: 0;
          margin-right: 11.256rem;
          width: 58.844rem;
          height: 41.1908rem;
          object-fit: cover;
        }
        .sofa-1-1-1Ku {
          border-radius: 5rem;
          flex-shrink: 0;
          width: 58.844rem;
          height: 44.133rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-vpz9-vxf {
        margin: 0rem 6.644rem 6.8rem 2rem;
        width: calc(100% - 8.644rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .christopher-knight-home-amaia-modern-velvet-12000--4Z5 {
          font-family: Inika, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 27.9rem;
          max-width: 42.5rem;
          font-size: 3.5rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
        }
        .acme-colla-velvet-upholstered-accent-chair-in-gray-and-gold-13500--ZVq {
          max-width: 49.9rem;
          font-size: 3.5rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .line-6-f35 {
        margin: 0rem 2.444rem 0rem 3.7rem;
        width: calc(100% - 6.1441rem);
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
      }
    }
  }
}
