
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.frame-34-8YF {
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  width: 100%;
  height: 545rem;

  .group-31-h5Z {
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;

    .home-2dd {
      box-sizing: border-box;
      flex-direction: column;
      flex-shrink: 0;
      background-color: #ffffff;
      padding-bottom: 2rem;
      width: 100%;
      overflow: hidden;
      position: relative;
      align-items: center;
      display: flex;

      .auto-group-3l1m-a9M {
        margin-bottom: 1.8rem;
        box-sizing: border-box;
        align-items: flex-start;
        background-size: cover;
        flex-shrink: 0;
        background-image: url('REPLACE_IMAGE:143:13');
        padding: 2.8rem 7.5rem 2.8rem 7.1rem;
        width: 100%;
        height: 90.1rem;
        display: flex;
        background-repeat: no-repeat;
        background-position: center;

        .auto-group-nsab-rcf {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 30.5rem;
          width: 59.3rem;

          .auto-group-enpz-PsV {
            margin-bottom: 4.3rem;
            width: 100%;
            height: 13.5rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-2-95y {
              background-color: rgba(178, 121, 60, 0.9900000095);
              border-radius: 4rem;
              width: 59.3rem;
              height: 13.1rem;
              position: absolute;
              left: 0;
              top: 0.1rem;
            }
            .woodmaker-2fZ {
              height: 13.5rem;
              top: 0;
              line-height: 1.4;
              font-family: Jockey One, 'Source Sans Pro';
              white-space: nowrap;
              width: 45.3rem;
              position: absolute;
              left: 7rem;
              font-size: 9.6rem;
              font-weight: 400;
              color: rgba(255, 255, 255, 0.9300000072);
            }
          }
          .frame-38-H5h {
            overflow: hidden;
            position: relative;
            flex-shrink: 0;
            margin: 0rem 18.6rem 0rem 30.7rem;
            width: calc(100% - 49.3rem);
            height: 10rem;
          }
        }
        .auto-group-k7wd-Bwm {
          font-size: 2.4rem;
          font-family: Inter, 'Source Sans Pro';
          border-radius: 5rem;
          flex-shrink: 0;
          width: 17.8rem;
          margin-right: 4rem;
          height: 5.4rem;
          line-height: 1.2125;
          letter-spacing: 0.024rem;
          color: #000000;
          white-space: nowrap;
          font-weight: 400;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #71cbdf;
        }
        .auto-group-lhlk-eqM {
          font-weight: 400;
          flex-shrink: 0;
          border-radius: 5rem;
          display: flex;
          justify-content: center;
          background-color: #d9d9d9;
          align-items: center;
          width: 17.8rem;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          height: 5.4rem;
          font-size: 2.4rem;
          letter-spacing: 0.024rem;
        }
      }
      .feature-iKR {
        flex-shrink: 0;
        margin: 0rem 10.5rem 0rem 11.4rem;
        width: calc(100% - 21.9rem);
        height: 8.5rem;
        display: flex;
        align-items: center;

        .group-5-36o {
          margin-right: 11.2rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-xu6o-Bio {
            margin-right: 0.1rem;
            width: 8.5rem;
            height: 8.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .text-Wm5 {
            margin: 1.6rem 0;
            height: calc(100% - 3.2rem);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .high-quality-FTm {
              line-height: 1.5;
              color: #3a3a3a;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.2rem;
              font-size: 1.8rem;
              font-weight: 600;
            }
            .crafted-from-top-materials-mh1 {
              font-weight: 500;
              line-height: 1.5;
              color: #898989;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
            }
          }
        }
        .group-3-HvF {
          flex-shrink: 0;
          margin-right: 10.3rem;
          box-sizing: border-box;
          padding: 1.6rem 0rem 1.6rem 2.2rem;
          height: 100%;
          display: flex;
          align-items: center;

          .guarantee-RWf {
            width: 4rem;
            height: 3.875rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 2.4rem 0.1rem 0rem;
          }
          .text-Z75 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            height: 100%;

            .warrany-protection-Wo1 {
              font-size: 1.8rem;
              font-weight: 600;
              line-height: 1.5;
              color: #3a3a3a;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.2rem;
            }
            .over-2-years-Eyu {
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #898989;
            }
          }
        }
        .group-2-xuu {
          align-items: center;
          flex-shrink: 0;
          margin-right: 10.2rem;
          height: 100%;
          display: flex;

          .auto-group-5919-83h {
            margin-right: 0.3rem;
            width: 8.5rem;
            height: 8.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .text-f3d {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 1.6rem 0;
            height: calc(100% - 3.2rem);

            .free-shipping-cDm {
              margin-bottom: 0.2rem;
              font-size: 1.8rem;
              font-weight: 600;
              line-height: 1.5;
              color: #3a3a3a;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .order-over-150--LQf {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #898989;
              font-family: Gilroy, 'Source Sans Pro';
            }
          }
        }
        .group-4-egF {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-dqef-Cxf {
            flex-shrink: 0;
            margin-right: 0.1rem;
            width: 8.5rem;
            height: 8.5rem;
            object-fit: contain;
            vertical-align: top;
          }
          .text-YWj {
            height: calc(100% - 3.2rem);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 1.6rem 0;

            .support-h8j {
              font-size: 1.8rem;
              font-weight: 600;
              line-height: 1.5;
              color: #3a3a3a;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.2rem;
            }
            .dedicated-support-Dcs {
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #898989;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .desktop-3-8jq {
      box-sizing: border-box;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      padding: 5rem 3.7rem 10.4rem 5.3rem;
      width: 100%;
      position: relative;
      flex-shrink: 0;

      .auto-group-jhnw-GLF {
        margin-bottom: 6rem;
        font-weight: 400;
        line-height: 1.4;
        color: rgba(255, 255, 255, 0.9300000072);
        white-space: nowrap;
        justify-content: center;
        height: 11.4rem;
        font-size: 7rem;
        display: flex;
        background-color: rgba(178, 121, 60, 0.9900000095);
        border-radius: 4rem;
        flex-shrink: 0;
        width: 54.3rem;
        font-family: Jockey One, 'Source Sans Pro';
        align-items: center;
      }
      .auto-group-wref-vfh {
        flex-shrink: 0;
        margin: 0rem 0rem 4.6rem 1.1rem;
        width: calc(100% - 1.1rem);
        height: 11.1rem;
        display: flex;
        align-items: center;

        .auto-group-bvb1-ebh {
          width: 36.7rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .rectangle-7-zvT {
            left: 0;
            top: 0;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #000000;
            border-radius: 4rem;
            width: 36.7rem;
            height: 5.1rem;
            position: absolute;
          }
          .all-Hef {
            color: #ffffff;
            font-family: Inika, 'Source Sans Pro';
            white-space: nowrap;
            height: 4.7rem;
            left: 16rem;
            font-size: 3.6rem;
            font-weight: 700;
            line-height: 1.3025;
            width: 4.8rem;
            position: absolute;
            top: 0.4rem;
          }
          .frame-1-nbR {
            width: 3rem;
            height: 8.6rem;
            position: absolute;
            left: 23.1rem;
            top: 2.5rem;
            overflow: hidden;
          }
        }
        .auto-group-sz55-hiP {
          box-sizing: border-box;
          padding-left: 12.3rem;
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .auto-group-pfov-qZh {
            font-family: Inika, 'Source Sans Pro';
            align-items: center;
            background-repeat: no-repeat;
            margin-right: 11.5rem;
            font-weight: 400;
            font-size: 3rem;
            line-height: 1.3025;
            color: #ffffff;
            white-space: nowrap;
            display: flex;
            justify-content: center;
            width: 36.7rem;
            height: 5rem;
            background-image: url('REPLACE_IMAGE:8:86');
            background-size: cover;
            background-position: center;
            flex-shrink: 0;
          }
          .auto-group-j2tw-Wvj {
            width: 36.7rem;
            height: 5rem;
            background-color: rgba(74, 93, 195, 0.9399999976);
            border-radius: 4rem;
            flex-shrink: 0;
            font-size: 3rem;
            color: rgba(255, 255, 255, 0.9300000072);
            font-family: Inika, 'Source Sans Pro';
            justify-content: center;
            font-weight: 400;
            line-height: 1.3025;
            display: flex;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            white-space: nowrap;
            align-items: center;
          }
        }
      }
      .auto-group-1fmh-MwM {
        margin: 0rem 3.9rem 1.9rem 2.9rem;
        width: calc(100% - 6.8rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .chair-4-1-VXm {
          flex-shrink: 0;
          margin-right: 11.1555rem;
          width: 58.8445rem;
          height: 44.6rem;
          cursor: pointer;
          object-fit: cover;
          vertical-align: top;
          border-radius: 5rem;
        }
        .char-2-1-pK9 {
          height: 44.6rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 5.4rem;
          flex-shrink: 0;
          width: 58.2rem;
        }
      }
      .auto-group-5bqz-Ykw {
        margin: 0rem 10.7rem 0rem 4.1rem;
        width: calc(100% - 14.8rem);
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .casa-andrea-milano-mid-century-modern-accent-sherpa-fabric-chair-10000--HTd {
          flex-shrink: 0;
          margin-right: 20.2rem;
          max-width: 50.5rem;
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';

          .casa-andrea-milano-mid-century-modern-accent-sherpa-fabric-chair-10000--HTd-sub-0 {
          }
          .casa-andrea-milano-mid-century-modern-accent-sherpa-fabric-chair-10000--HTd-sub-1 {
            font-size: 3rem;
            font-weight: 700;
            line-height: 1.3025;
            color: #000000;
            font-family: Inika, 'Source Sans Pro';
          }
        }
        .dewhut-oversized-pumpkin-couch-accent-chair-modern-comfy-velvet-upholstered-barrel-chair-13000--Yns {
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 49.5rem;
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.3025;

          .dewhut-oversized-pumpkin-couch-accent-chair-modern-comfy-velvet-upholstered-barrel-chair-13000--Yns-sub-0 {
          }
          .dewhut-oversized-pumpkin-couch-accent-chair-modern-comfy-velvet-upholstered-barrel-chair-13000--Yns-sub-1 {
            line-height: 1.3025;
            color: #000000;
            font-family: Inika, 'Source Sans Pro';
            font-size: 3rem;
            font-weight: 700;
          }
        }
      }
    }
    .desktop-4-3d9 {
      flex-shrink: 0;
      padding: 7.6rem 6.756rem 10.4rem 9.9rem;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      align-items: center;
      box-sizing: border-box;
      width: 100%;
      overflow: hidden;
      position: relative;

      .line-9-ZrP {
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
        margin: 0rem 2.644rem 9.2rem 1.9rem;
        width: calc(100% - 4.5441rem);
      }
      .auto-group-86fq-65d {
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 6.7rem;
        width: 100%;
        height: 68.3rem;
        display: flex;

        .auto-group-bmqb-2V5 {
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .auto-group-yqgx-mhZ {
            margin-right: 2.056rem;
            width: 58.844rem;
            flex-shrink: 0;

            .auto-group-pa9u-iMu {
              margin-bottom: 2.9092rem;
              width: 100%;
              height: 41.1908rem;
              position: relative;

              .frame-1-fH9 {
                width: 3rem;
                height: 8.6rem;
                position: absolute;
                left: 19.6rem;
                top: 8rem;
                overflow: hidden;
              }
              .sofa-4-2-o8T {
                left: 0;
                top: 0;
                object-fit: cover;
                vertical-align: top;
                border-radius: 5rem;
                width: 58.844rem;
                height: 41.1908rem;
                position: absolute;
              }
            }
            .christopher-knight-home-amaia-modern-velvet-7000--L8P {
              color: #000000;
              font-family: Inika, 'Source Sans Pro';
              margin-left: 1.9rem;
              max-width: 35.6rem;
              font-size: 3rem;
              font-weight: 400;
              line-height: 1.3025;

              .christopher-knight-home-amaia-modern-velvet-7000--L8P-sub-0 {
              }
              .christopher-knight-home-amaia-modern-velvet-7000--L8P-sub-1 {
                line-height: 1.3025;
                color: #000000;
                font-family: Inika, 'Source Sans Pro';
                font-size: 4rem;
                font-weight: 700;
              }
            }
          }
          .sofa-TcK {
            color: #ffffff;
            font-family: Inika, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 6.2rem;
            font-size: 3rem;
            font-weight: 400;
            line-height: 1.3025;
          }
        }
        .auto-group-vhqj-oAP {
          width: 58.844rem;
          height: 100%;
          flex-shrink: 0;

          .auto-group-eeas-x3H {
            width: 100%;
            height: 44.133rem;
            position: relative;
            margin-bottom: 3.267rem;

            .chair-uDR {
              color: rgba(255, 255, 255, 0.9300000072);
              height: 4rem;
              position: absolute;
              left: 41.2rem;
              top: 6.1rem;
              font-weight: 400;
              line-height: 1.3025;
              width: 9.4rem;
              font-size: 3rem;
              font-family: Inika, 'Source Sans Pro';
              white-space: nowrap;
            }
            .sofa-1-1-QAB {
              vertical-align: top;
              border-radius: 5rem;
              width: 58.844rem;
              height: 44.133rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
            }
          }
          .zinus-josh-loveseat-sofa-easy-tool-free-assembly-beige-15000--wA7 {
            line-height: 1.3025;
            color: #000000;
            font-family: Inika, 'Source Sans Pro';
            margin-left: 3.7rem;
            max-width: 37rem;
            font-size: 3rem;
            font-weight: 400;

            .zinus-josh-loveseat-sofa-easy-tool-free-assembly-beige-15000--wA7-sub-0 {
            }
            .zinus-josh-loveseat-sofa-easy-tool-free-assembly-beige-15000--wA7-sub-1 {
              color: #000000;
              font-family: Inika, 'Source Sans Pro';
              font-size: 3rem;
              font-weight: 700;
              line-height: 1.3025;
            }
            .zinus-josh-loveseat-sofa-easy-tool-free-assembly-beige-15000--wA7-sub-2 {
              font-size: 4rem;
              font-weight: 700;
              line-height: 1.3025;
              color: #000000;
              font-family: Inika, 'Source Sans Pro';
            }
          }
        }
      }
      .line-10-rZu {
        width: calc(100% - 4.5441rem);
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
        margin: 0rem 2.644rem 0rem 1.9rem;
      }
    }
    .desktop-5-ZUK {
      background-color: #ffffff;
      flex-shrink: 0;
      padding: 7.9rem 5.856rem 9.3rem 8.6rem;
      width: 100%;
      position: relative;
      align-items: center;
      flex-direction: column;
      box-sizing: border-box;
      overflow: hidden;
      display: flex;

      .line-7-H9R {
        margin: 0rem 4.744rem 9rem 2rem;
        width: calc(100% - 6.7441rem);
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
      }
      .auto-group-ndr1-bR1 {
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        margin-bottom: 4.367rem;
        width: 100%;

        .sofa-4-1-wjm {
          margin: 0rem 11.856rem 0.042rem 0rem;
          width: 58.844rem;
          height: 41.1908rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 5rem;
          flex-shrink: 0;
        }
        .sofa-1-1-rbq {
          width: 58.844rem;
          height: 44.133rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 5rem;
          flex-shrink: 0;
        }
      }
      .auto-group-ga5m-Bu1 {
        margin: 0rem 6.644rem 4.7rem 3.4rem;
        width: calc(100% - 10.044rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .vonanda-faux-leather-sofa-couchelegant-cognac-tan-12000--WgP {
          max-width: 44.3rem;
          font-size: 3.5rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 25.3rem;

          .vonanda-faux-leather-sofa-couchelegant-cognac-tan-12000--WgP-sub-0 {
          }
          .vonanda-faux-leather-sofa-couchelegant-cognac-tan-12000--WgP-sub-1 {
            font-size: 3.5rem;
            font-weight: 700;
            line-height: 1.3025;
            color: #000000;
            font-family: Inika, 'Source Sans Pro';
          }
        }
        .acme-colla-velvet-upholstered-accent-chair-in-gray-and-gold-13500--rNs {
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 1.9rem;
          max-width: 49.9rem;
          font-size: 3.5rem;
          font-weight: 400;
          line-height: 1.3025;

          .acme-colla-velvet-upholstered-accent-chair-in-gray-and-gold-13500--rNs-sub-0 {
          }
          .acme-colla-velvet-upholstered-accent-chair-in-gray-and-gold-13500--rNs-sub-1 {
            color: #000000;
            font-family: Inika, 'Source Sans Pro';
            font-size: 3.5rem;
            font-weight: 700;
            line-height: 1.3025;
          }
        }
      }
      .line-8-AgP {
        flex-shrink: 0;
        margin: 0rem 2.444rem 0rem 4.3rem;
        width: calc(100% - 6.7441rem);
        height: 0.1rem;
        background-color: #000000;
      }
    }
    .desktop-9-gPq {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      padding: 7.9rem 6.756rem 8.1rem 10.6rem;
      width: 100%;
      align-items: center;
      background-color: #ffffff;
      box-sizing: border-box;
      position: relative;

      .line-7-CNB {
        flex-shrink: 0;
        margin: 0rem 3.844rem 9.7rem 2.4rem;
        width: calc(100% - 6.2441rem);
        height: 0.1rem;
        background-color: #000000;
      }
      .auto-group-zqeb-vZ5 {
        margin-bottom: 3.667rem;
        width: 100%;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .sofa-1-2-5B5 {
          object-fit: cover;
          vertical-align: top;
          border-radius: 5rem;
          flex-shrink: 0;
          margin-right: 8.956rem;
          width: 58.844rem;
          height: 44.133rem;
        }
        .sofa-4-1-Bju {
          height: 41.1908rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 5rem;
          flex-shrink: 0;
          margin-bottom: 0.0422rem;
          width: 58.844rem;
        }
      }
      .auto-group-sjxm-WXH {
        flex-shrink: 0;
        margin: 0rem 1.544rem 2.6rem 1.4rem;
        width: calc(100% - 2.9441rem);
        height: 37.6rem;
        position: relative;

        .the-briston-premium-couch-with-suede-upholstery-is-a-luxurious-addition-to-any-living-room-25000--dbu {
          height: 37.6rem;
          left: 0;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          width: 41rem;
          position: absolute;
          top: 0;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.3025;

          .the-briston-premium-couch-with-suede-upholstery-is-a-luxurious-addition-to-any-living-room-25000--dbu-sub-0 {
          }
          .the-briston-premium-couch-with-suede-upholstery-is-a-luxurious-addition-to-any-living-room-25000--dbu-sub-1 {
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.3025;
            color: #000000;
            font-family: Inika, 'Source Sans Pro';
          }
          .the-briston-premium-couch-with-suede-upholstery-is-a-luxurious-addition-to-any-living-room-25000--dbu-sub-2 {
          }
        }
        .zeus-3-seater-fabric-premium-sofa-for-living-room-8000--uxj {
          left: 69.6rem;
          top: 1.3rem;
          font-size: 3.5rem;
          line-height: 1.3025;
          font-family: Inika, 'Source Sans Pro';
          width: 48.3rem;
          height: 18.3rem;
          position: absolute;
          font-weight: 400;
          color: #000000;

          .zeus-3-seater-fabric-premium-sofa-for-living-room-8000--uxj-sub-0 {
          }
          .zeus-3-seater-fabric-premium-sofa-for-living-room-8000--uxj-sub-1 {
            font-size: 3.5rem;
            font-weight: 700;
            line-height: 1.3025;
            color: #000000;
            font-family: Inika, 'Source Sans Pro';
          }
        }
        .line-8-FfD {
          top: 27.5rem;
          background-color: #000000;
          width: 122.7999rem;
          height: 0.1rem;
          position: absolute;
          left: 0.9rem;
        }
      }
      .conditions-of-use-sale-privacy-notice-interest-based-ads-1996-2024-woodmakercom-inc-or-its-affiliates-PFd {
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        flex-shrink: 0;
        margin-left: 0.856rem;
        max-width: 97.5rem;
      }
    }
  }
}
