
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.frame-37-eEb {
  width: 100%;
  height: 204.8rem;
}
.frame-37-eEb .group-34-bQj {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.frame-37-eEb .group-34-bQj .desktop-8-YKy {
  box-sizing: border-box;
  padding: 7.9rem 6.756rem 8.85rem 10.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.frame-37-eEb .group-34-bQj .desktop-8-YKy .line-7-eto {
  margin: 0rem 3.844rem 9.7rem 0rem;
  width: 122.7999rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.frame-37-eEb .group-34-bQj .desktop-8-YKy .auto-group-ij6t-NZu {
  margin: 0rem 0rem 3.667rem 0rem;
  width: calc(100% - 0rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.frame-37-eEb .group-34-bQj .desktop-8-YKy .auto-group-ij6t-NZu .sofa-1-2-hMH {
  margin-right: 8.956rem;
  width: 58.844rem;
  height: 44.133rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
  flex-shrink: 0;
}
.frame-37-eEb .group-34-bQj .desktop-8-YKy .auto-group-ij6t-NZu .sofa-4-1-QmV {
  margin-bottom: 0.0422rem;
  width: 58.844rem;
  height: 41.1908rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
  flex-shrink: 0;
}
.frame-37-eEb .group-34-bQj .desktop-8-YKy .auto-group-ef1h-8xP {
  margin: 0rem 2.444rem 3.85rem 1.4rem;
  width: calc(100% - 3.844rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-37-eEb .group-34-bQj .desktop-8-YKy .auto-group-ef1h-8xP .vonanda-faux-leather-sofa-couchelegant-cognac-tan-12000--rtP {
  margin: 0rem 25.3rem 1.3rem 0rem;
  max-width: 44.3rem;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-37-eEb .group-34-bQj .desktop-8-YKy .auto-group-ef1h-8xP .vonanda-faux-leather-sofa-couchelegant-cognac-tan-12000--rtP .vonanda-faux-leather-sofa-couchelegant-cognac-tan-12000--rtP-sub-0 {
}
.frame-37-eEb .group-34-bQj .desktop-8-YKy .auto-group-ef1h-8xP .vonanda-faux-leather-sofa-couchelegant-cognac-tan-12000--rtP .vonanda-faux-leather-sofa-couchelegant-cognac-tan-12000--rtP-sub-1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
}
.frame-37-eEb .group-34-bQj .desktop-8-YKy .auto-group-ef1h-8xP .the-briston-premium-couch-with-suede-upholstery-is-a-luxurious-addition-to-any-living-room-25000--MTm {
  margin-top: 1.3rem;
  max-width: 53.2rem;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-37-eEb .group-34-bQj .desktop-8-YKy .auto-group-ef1h-8xP .the-briston-premium-couch-with-suede-upholstery-is-a-luxurious-addition-to-any-living-room-25000--MTm .the-briston-premium-couch-with-suede-upholstery-is-a-luxurious-addition-to-any-living-room-25000--MTm-sub-0 {
}
.frame-37-eEb .group-34-bQj .desktop-8-YKy .auto-group-ef1h-8xP .the-briston-premium-couch-with-suede-upholstery-is-a-luxurious-addition-to-any-living-room-25000--MTm .the-briston-premium-couch-with-suede-upholstery-is-a-luxurious-addition-to-any-living-room-25000--MTm-sub-1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
}
.frame-37-eEb .group-34-bQj .desktop-8-YKy .line-8-FxT {
  margin-right: 2.644rem;
  width: 124rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.frame-37-eEb .group-34-bQj .desktop-10-PHy {
  box-sizing: border-box;
  padding: 7.9rem 6.756rem 3.5rem 10.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.frame-37-eEb .group-34-bQj .desktop-10-PHy .line-7-iLF {
  margin: 0rem 3.844rem 12.6rem 0rem;
  width: 122.7999rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.frame-37-eEb .group-34-bQj .desktop-10-PHy .auto-group-kvrq-2rj {
  margin-bottom: 3.7092rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-37-eEb .group-34-bQj .desktop-10-PHy .auto-group-kvrq-2rj .sofa-4-2-BDq {
  margin-right: 8.956rem;
  width: 58.844rem;
  height: 41.1908rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
  flex-shrink: 0;
}
.frame-37-eEb .group-34-bQj .desktop-10-PHy .auto-group-kvrq-2rj .sofa-4-1-VkK {
  width: 58.844rem;
  height: 41.1908rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
  flex-shrink: 0;
}
.frame-37-eEb .group-34-bQj .desktop-10-PHy .auto-group-pqvh-q3V {
  margin: 0rem 1.544rem 0rem 1.4rem;
  width: calc(100% - 2.9441rem);
  height: 33.4rem;
  position: relative;
  flex-shrink: 0;
}
.frame-37-eEb .group-34-bQj .desktop-10-PHy .auto-group-pqvh-q3V .vonanda-faux-leather-sofa-couchelegant-cognac-tan-12000--kRM {
  width: 39.7rem;
  height: 33.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
}
.frame-37-eEb .group-34-bQj .desktop-10-PHy .auto-group-pqvh-q3V .vonanda-faux-leather-sofa-couchelegant-cognac-tan-12000--kRM .vonanda-faux-leather-sofa-couchelegant-cognac-tan-12000--kRM-sub-0 {
}
.frame-37-eEb .group-34-bQj .desktop-10-PHy .auto-group-pqvh-q3V .vonanda-faux-leather-sofa-couchelegant-cognac-tan-12000--kRM .vonanda-faux-leather-sofa-couchelegant-cognac-tan-12000--kRM-sub-1 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
}
.frame-37-eEb .group-34-bQj .desktop-10-PHy .auto-group-pqvh-q3V .vonanda-faux-leather-sofa-couchelegant-cognac-tan-12000--kRM .vonanda-faux-leather-sofa-couchelegant-cognac-tan-12000--kRM-sub-2 {
}
.frame-37-eEb .group-34-bQj .desktop-10-PHy .auto-group-pqvh-q3V .zeus-3-seater-fabric-premium-sofa-for-living-room-8000--TDH {
  width: 48.3rem;
  height: 18.3rem;
  position: absolute;
  left: 69.6rem;
  top: 1.3rem;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
}
.frame-37-eEb .group-34-bQj .desktop-10-PHy .auto-group-pqvh-q3V .zeus-3-seater-fabric-premium-sofa-for-living-room-8000--TDH .zeus-3-seater-fabric-premium-sofa-for-living-room-8000--TDH-sub-0 {
}
.frame-37-eEb .group-34-bQj .desktop-10-PHy .auto-group-pqvh-q3V .zeus-3-seater-fabric-premium-sofa-for-living-room-8000--TDH .zeus-3-seater-fabric-premium-sofa-for-living-room-8000--TDH-sub-1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
}
.frame-37-eEb .group-34-bQj .desktop-10-PHy .auto-group-pqvh-q3V .line-8-oRZ {
  width: 122.7999rem;
  height: 0.1rem;
  position: absolute;
  left: 0.9rem;
  top: 27.5rem;
  background-color: #000000;
}
